{% extends 'base.html' %}

{% block content %}

    <form action="/add" method="post">
        <textarea name="title" rows="5" placeholder="Введите заголовок задачи" style="height: 50px"></textarea>
        <textarea name="task" rows="5" placeholder="Введите задачу"></textarea>
        <button type="submit">Добавить</button>
    </form>

    <br>
    <h2>Задачи</h2>

    <div>
        {% for todo in todos %}
            <div class="task">
                {% if todo.completed %}
                    <strike>{{ todo.title}}</strike>
                {% else %}
                    {{todo.title}}
                {% endif %}
                <small>
                    {% if todo.completed == False %}
                    <label for="completed"> Выполнено </label>
                    <input type =checkbox name="completed" onclick="window.location.href = 'complete/{{ todo.id }}'"
                    {% if todo.completed %} checked{% endif %}>
                    <label for="uncompleted"> Не выполнено </label>
                    <input type =checkbox name="uncompleted" onclick="window.location.href = 'complete/{{ todo.id }}'"
                    {% if todo.completed == False %} checked{% endif %}>

                    {% else %}
                    <label for="completed"> Выполнено </label>
                    <input type =checkbox name="completed" onclick="window.location.href = 'uncomplete/{{ todo.id }}'"
                    {% if todo.completed %} checked{% endif %}>
                    <label for="uncompleted"> Не выполнено </label>
                    <input type =checkbox name="uncompleted" onclick="window.location.href = 'uncomplete/{{ todo.id }}'"
                    {% if todo.completed == False %} checked{% endif %}>
                    {% endif %}
                    <a href="edit/{{ todo.id }}">Редактировать</a>
                    <a href="delete/{{ todo.id }}">Удалить</a>
                </small>
            </div>
    {% endfor %}
            </div>
            <form>
                Страницы:
                {% for i in range(pages) %}
                    <a rel = {{ i }}
                            {% if i==page%}style="color:red;" {% endif%}
                             href="/?limit={{ limit }}&skip={{ i }}" > {{ i }}</a>
                    {% endfor %}
            </form>

{% endblock content %}
